<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="../crear_user/index.php">
      <input type="hidden" name="idioma" value="es"> <!-- Campo oculto que envia el idioma ya predefinido -->
        <div class="mb-3">
            <label for="inputName" class="form-label">Id</label>
            <input type="number" class="form-control" name="id" >
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" >
        </div>
        <div class="mb-3">
            <label for="inputSurname" class="form-label">Apellido</label>
            <input type="text"  class="form-control" name="surName" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
          <input type="text" class="form-control" name="email" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password">
        </div>
        <select class="form-select" name="rol" aria-label="Default select example">
            <option selected  value="">selecciona un rol</option>
            <option value="teacher" >profesor</option>
            <option value="student" >estudiante</option>
        </select>
        <div class="mb-3 form-check">
          <label class="form-label">¿ esta activa tu cuenta ?</label>
          <input type="checkbox" name="active" value="true">
        </div>
        <input type="submit" class="btn btn-primary" name="submit">
        <br>
          <br>
          <a href="login_Es.html">Ya tienes una cuenta</a>
          <br>
          <br>
            <a href="../cookies/deleteCookie.php">Eliminar cookie</a>
            <br>
            <a href="../cookies/index.php">Escoger un idioma</a>
      </form>
</body>
</html>