<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accés</title>
</head>
<body>
    <h1>Accés</h1>
    <form method="POST" action="../iniciar_session/login.php">
      <input type="hidden" name="idioma" value="ca"> <!-- Campo oculto que envia el idioma ya predefinido -->
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contrasenya</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" name="Remember" value="true">
            <label class="form-label">Recorda'm</label>
          </div>
          <input type="submit" class="btn btn-primary" name="submit"/>
          <br>
          <br>
          <a href="./index_Ca.html">No tens un compte</a>
          <br>
          <br>
            <a href="../cookies/deleteCookie.php">Elimina la cookie</a>
            <br>
            <a href="../cookies/index.php">Escollir l' idioma</a>
    </form>
</body>
</html>