<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>Registro de Usuario</h1>

    <form method="POST" action="usuari.php">
        <div>
            <label>Id</label><br>
            <input type="text" name="id">
        </div>

        <div>
            <label for="rol">Rol</label><br>
            <select name="rol" id="rol">
                <option value="alumnat">Alumnat</option>
                <option value="profesorat">Professorat</option>
            </select>
        </div>

        <div>
            <label>Name</label><br>
            <input type="name" name="name">
        </div>

        <div>
            <label>Surname</label><br>
            <input type="text" name="surname">
        </div>

        <div>
            <label>Password</label><br>
            <input type="password" name="password">
        </div>

        <div>
            <label>E-mail</label><br>
            <input type="text" name="email">
        </div>

        <div>
            <label>active</label><br>
            <input type="checkbox" name="active">
        </div>

        <input type="submit" value="Submit">
     </form>    
</body>
</html>