<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de inscripcion</title>
</head>
<body>
    <h1>Iniciar sesion del ususario</h1>
    <form method="POST" action="usuari.php">
        
        <div>
            <label>E-mail</label><br>
            <input type="text" name="email">
        </div>
        <div>
            <label>Password</label><br>
            <input type="password" name="password">
        </div>
        <div>
            <label>Remember me</label><br>
            <input type="checkbox" name="active">
        </div>
        <input type="submit" value="Enviar">
        <script></script>
     </form>    
</body>
</html>