<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inscripcion</title>

</head>
<body>
    <h1>Registro de Usuario</h1>

    <form method="POST" action="../Index.php">
        <div>
            <label>Identificador</label><br>
            <input type="text" name="id">
        </div>

        <div>
            <label for="rol">Rol</label><br>
            <select name="rol" id="rol">
                <option value="alumnat">Alumno</option>
                <option value="profesorat">Profesor</option>
            </select>
        </div>

        <div>
            <label>Nombre</label><br>
            <input type="name" name="name">
        </div>

        <div>
            <label>Apellido</label><br>
            <input type="text" name="surname">
        </div>

        <div>
            <label>Contraseña</label><br>
            <input type="password" name="password">
        </div>

        <div>
            <label>Correo</label><br>
            <input type="text" name="email">
        </div>

        <div>
            <label>Activo</label><br>
            <input type="checkbox" name="active">
        </div>

        <input type="submit" value="Submit"><br>
        
        
    </form>
    <br>
    <a href="login.html">Iniciar Sesión</a> 

    <br>
    <br>
    <a href="../T_COOKIES/deleteCokie.php">Eliminar Galleta</a>
    <br>
    <a href="../T_COOKIES/index_Cookie.php">Volver a seleccion de idioma</a>
      
</body>
</html>