<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulari d'inici de sessió</title>
</head>
<body>
    <h1>Inicia sessió d'usuari</h1>
    <form method="POST" action="usuari_Catala.php">
        
        <div>
            <label>Correu</label><br>
            <input type="text" name="email"><br>

            <label>Contrasenya</label><br>
            <input type="password" name="password">
        </div>
        <div>
            <label>Recordar-me</label><br>
            <input type="checkbox" name="active">
        </div>
        <input type="submit" value="Iniciar Sesion">
        
     </form> 
     <br>   
     <a href="index_Catalan.html">Registra't</a> <br>
<br>
<br>
    <a href="../T_COOKIES/deleteCokie.php">Eliminar Galleta</a>
    <br>
    <a href="../T_COOKIES/index_Cookie.php">Tornar a una selecció d'idioma</a>
</body>
</html>