<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de inicio de sesion</title>
</head>
<body>
    <h1>Iniciar sesion del ususario</h1>
    <form method="POST" action="usuari.php">
        
        <div>
            <label>Correo</label><br>
            <input type="text" name="email"><br>

            <label>Contraseña</label><br>
            <input type="password" name="password">
        </div>
        <div>
            <label>Recordarme</label><br>
            <input type="checkbox" name="active">
        </div>
        <input type="submit" value="Iniciar Sesion">
        
     </form> 
     <br>   
     <a href="index.html">Registrate</a> 

    <br>
    <br>
    <a href="../T_COOKIES/deleteCokie.php">Eliminar Galleta</a>
    <br>
    <a href="../T_COOKIES/index_Cookie.php">Volver a seleccion de idioma</a>
</body>
</html>